.App {
  text-align: center;
}

.App-header {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 750px) {
  .App-header {
      width: 100vw;
  }
}

.quote-box {
  border-radius: 3px;
  position: relative;
  width: 20em;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}

.text {
  font-size: 1em;
  text-align: center;
  width: 20em;
  height: auto;
  clear: both;
}

.author {
  font-size: 0.6em;
  text-align: right;
  width: 20em;
  height: auto;
  clear: both;
  margin-top: 1em;
  float: right;
}

.buttons {
  width: 20em;
  border: none;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  height: 40px;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
}

.twitter {
  width: 40px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
  height: 40px;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
  float: left;
}

.tumblr {
  width: 40px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  text-align: center;
  height: 40px;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 1em;
  float: left;
}

.new-quote {
  float: right;
  width: 10em;
  border: none;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  height: 40px;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
  float: right;
}
